@media screen and (min-width: 480px) /*rule for engaging fluidity - has to be screen (not print) and a min-width of 480px ...both conditions have to be "true" for the following inside brackets to apply*/
    {
       /********************
         TWO COLUMN LAYOUT
       *********************/
  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

   /**************************************************************************************************
  margins = 2.5% times two (left and right) = 5% times 3 columns = 15% (of space for margins)
  100% of space available - 15% = 85% / 3 (columns) = 28.33333  Each column should be 28.3% of space
  *************************************************************************************************/
  /******************************************************************************************************
PAGE: PORTFOLIO
**************************************************************************************************/

#gallery li {
    width: 28.3333%;
}
 
#gallery li:nth-child(4n) {
    clear: left;
  }
  /*********************
PAGE: ABOUT
************************/
  
  .profile-photo {
    float:left;
    margin: 0 5 80px 0;
  }
  
}


@media screen and (min-width: 660px) {
  
/**************************************
  HEADER
***************************************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }
}

  
  